
.parallax {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.parallax__layer {
  position: absolute;
  z-index: 0;
}

.layer-0 {
  top: 0;
  left: -1%; 
  width: 150px;
  height: 150px;
  animation: scrollAnimation 10s linear infinite; 
}

.layer-1 {
  top: 0;
  right: -5%; 
  width: 150px;
  height: 150px;
  animation: scrollAnimation 15s linear infinite; 
}


@keyframes scrollAnimation {
  0% {
    transform: translateY(-120%); /* Початкове положення */
  }
  50% {
    transform: translateY(105vh); /* средина і розворот */
  }
  100% {
    transform: translateY(-120%); /* Повернення елемента за межі екрану вгору */
  }
}
