/*  Skills */
.skills {
  margin-top: 110px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.skills-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.skills-header-text {
  display: flex;
  color: var(--white, #fff);
  font-size: 32px;
  font-weight: 500;
  align-items: center;
}

.line-limit {
  height: 1px;
  width: 240px;
  background-color: #c778dd;
  margin-left: 16px;
}

.skills-frame {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.skills-item {
  width: auto;
  margin-bottom: 16px;
  transition: transform 0.3s;
}

.skills-item:hover {
  transform: translate(-3px, -3px);
}

.skills-name, .skills-description {
  padding: 8px;
  border: 1px solid #ffffff;
}

.soft-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.soft-ul li {
  padding: 0;
}
