@import url(reset.css);

body {
  background: #282c33;
  color: #abb2bf;
  font-family: "Fira Code", monospace;
  position: relative; /* дозволяє правильно позиціонувати SVG, що використовує абсолютне позиціонування.*/
}

.container {
  max-width: 1084px;
  padding: 0 30px;
  margin: 0 auto;
}

.special-text {
    color: var(--primary, #c778dd);
  }

.App{
   z-index: 2; /* для того щоб розміщувати на 2 шари вище  */
}

