/* Contacts */

.contacts-header-text {
  display: flex;
  color: var(--white, #fff);
  font-size: 32px;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
}

.limit-line-contacts {
  height: 1px;
  width: 127px;
  background-color: #c778dd;
  margin-left: 16px;
}


/* contacts */
.contacts {
  margin-top: 110px;
}

.contacts-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;

}

.contacts-text {
  width: 505px;
  height: auto;
}

.contacts-message {
  border: 1px solid #abb2bf;
  width: 300px;
  height: auto;
  word-wrap: break-word;
  padding: 16px;
}

.contacts-message-header {
  font-weight: 600;
}




.contacts-message-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* відстань між дівами */



}

.contacts-message-items div {
  display: flex;
  align-items: center;
}
  

.contacts-message-img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}